In [ ]:
!pip install "pymongo[srv]"==3.6

In [6]:
import certifi
ca = certifi.where()

In [10]:
import ssl

In [24]:
from pymongo.mongo_client import MongoClient
uri = "mongodb+srv://amankd777:1987ppar@firstmongoatlas.vzdmwoa.mongodb.net/?retryWrites=true&w=majority"
# Create a new client and connect to the server
client = MongoClient(uri)

In [25]:
database=client["myfirst_nosqldb"]

In [26]:
collection=database["collection1"]

In [27]:
data={
    "name":"Aman Vignesh",
    "age":20,
    "CGPA":8.63
}

In [28]:
collection.insert_one(data)

InsertOneResult(ObjectId('65c88d3a8475d5b4372dba10'), acknowledged=True)

In [30]:
for record in collection.find():
    print(record)

{'_id': ObjectId('65c88d3a8475d5b4372dba10'), 'name': 'Aman Vignesh', 'age': 20, 'CGPA': 8.63}

In [31]:
collection.insert_many(
    [{
    "name":"B. Nikhil",
    "age":22,
    "CGPA":7.7},
    {
    "name":"Balusu Bhanu Prakash",
    "age":25,
    "CGPA":10.0},
    {
    "name":"John Doe",
    "age":20,
    "CGPA":8.63}
    ]
)

InsertManyResult([ObjectId('65c88f4a8475d5b4372dba11'), ObjectId('65c88f4a8475d5b4372dba12'), ObjectId('65c88f4a8475d5b4372dba13')], acknowledged=True)

In [32]:
for record in collection.find():
    print(record)

{'_id': ObjectId('65c88d3a8475d5b4372dba10'), 'name': 'Aman Vignesh', 'age': 20, 'CGPA': 8.63}
{'_id': ObjectId('65c88f4a8475d5b4372dba11'), 'name': 'B. Nikhil', 'age': 22, 'CGPA': 7.7}
{'_id': ObjectId('65c88f4a8475d5b4372dba12'), 'name': 'Balusu Bhanu Prakash', 'age': 25, 'CGPA': 10.0}
{'_id': ObjectId('65c88f4a8475d5b4372dba13'), 'name': 'John Doe', 'age': 20, 'CGPA': 8.63}

In [33]:
import pandas as pd

In [62]:
import json


class MongodbOperation:
    def __init__(self,client_url: str, database_name: str, collection_name: str=None):
        self.client_url=client_url
        self.database_name=database_name
        self.collection_name=collection_name

    def create_client(self):
        client=MongoClient(self.client_url)
        return client


    def create_database(self):
        client=self.create_client()
        database=client[self.database_name]
        return database
        
    def create_collection(self,collection=None):
        database=self.create_database()
        collection=database[self.collection_name]
        return collection

    def insert_record(self,record:dict,collection_name:str):
        if type(record)==list:
            for data in record:
                if type(data)!= dict:
                    raise TypeError("record must be in the dict")
            collection=self.create_collection(collection_name)
            collection.insert_many(record)
        elif type(record)==dict:
            collection=self.create_collection(collection_name)
            collection.insert_one(record)

    def bulk_insert(self,datafile:str,collection_name:str=None):
        self.path=datafile

        if self.path.endswith('.csv'):
            data=pd.read_csv(self.path,encoding='utf-8')

        elif self.path.endswith('.xlsx'):
            data=pd.read_excel(self.path,encoding='utf-8')
            
        datajson=json.loads(data.to_json(orient='record'))
        collection=self.create_collection()
        collection.insert_many(datajson)

In [66]:
client_url="mongodb+srv://amankd777:1987ppar@firstmongoatlas.vzdmwoa.mongodb.net/?retryWrites=true&w=majority"
database='new_database'
collection='new_collection'

In [67]:
mongo=MongodbOperation(client_url,database,collection)

In [68]:
mongo.insert_record({
    "name":"Gagan Vadlamudi",
    "Desc.":"yedava"}, collection)